out
dist
node_modules
.vscode-test/
.DS_Store
.eslintcache
test-results
.yarn
.pnp.*
samples/**/coverage
tests-logs-*
ImportTypespecProjectOpenApi3/*.tsp
CreateTypespecProject
EmitTypespecProject/tsp-output
*.png
images